@import url("common/common.css");

#sunflower {
  width: 200px;
  height: 200px;
}

:hover > .i {
  display: inline-block;
  animation-name: rotation;
  animation-duration: 2s;
}

@keyframes rotation {
  50% {
    color: yellow;
    transform: rotate(0.5turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

