.player {
    margin-block-end: var(--spacing-300);
}

.player:active {
    scale: 0.97;
}

.player::before {
    content: "⏵ animer";
    font-size: 1rem;
    border: solid 1px var(--primary-color);
    border-radius: var(--spacing-050);
    padding: var(--spacing-050);
}

.player:has(.play:checked)::before {
    content: "⏹ stop";
}

.play {
    appearance: none;
    margin: 0;
}

.carousel {
    --total-stanzas: 3;
    --interval: 14s;
    --total-duration: calc(var(--total-stanzas) * var(--interval));
    display: grid;
    grid-template-rows: repeat(var(--total-stanzas), 1fr);
}

.stanza {
    --move-around-delay: 0s;
    animation:
        move-around var(--total-duration) infinite var(--move-around-delay) step-end,
        fade-in-fade-out var(--interval) infinite linear;
}

.player:has(.play:not(:checked)) ~ .carousel .stanza {
    animation: none;
}

.stanza:nth-child(2) {
    --move-around-delay: var(--interval);
}

.stanza:nth-child(3) {
    --move-around-delay: calc(2 * var(--interval));
}

@keyframes move-around {
    0% {
        grid-row: 1;
    }
    33% {
        grid-row: 3;
    }
    66% {
        grid-row: 2;
    }
}

@keyframes fade-in-fade-out {
    0% {
        opacity: 0;
    }
    3% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    97% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
