@media (prefers-color-scheme: dark) {
    * {
        color-scheme: dark;
    }
}

body {
    display: flex;
    justify-content: center;
    margin: 0 20px;
    font-family: monospace;
    line-height: 1.6;
    font-size: 1.2rem;
    text-align: justify;
}

h1, h2, h3 {
    line-height: 1.2;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 40rem;
}

article footer {
    text-align: right;
}

article h1 {
    text-align: center;
}

.poem {
    text-align: center;
    white-space: pre-line;
}
