:root {
    color-scheme: light dark;
    --primary-color: black;
    --link-visited-color: darkslategray;

    --spacing-050: calc(var(--spacing-100) / 2);
    --spacing-100: 0.5rem;
    --spacing-200: calc(var(--spacing-100) * 2);
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: white;
        --link-visited-color: lightgray;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: monospace;
    line-height: 1.6;
    font-size: 1.2rem;
    text-align: justify;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    max-width: 40rem;
    padding: var(--spacing-200);
}

article footer {
    text-align: right;
}

.poem {
    text-align: center;
    white-space: pre-line;
}

h1 {
    text-align: center;
}

h1, h2, h3 {
    line-height: 1.2;
}

ul {
    list-style-type: "﹅";
}

li {
    padding-left: var(--spacing-100);
}

a {
    color: inherit;
    text-underline-offset: var(--spacing-050);
}

a:hover {
    text-decoration-thickness: var(--spacing-050);
}

a:visited {
    color: var(--link-visited-color);
}
