:root {
    color-scheme: light dark;
    --primary-color: black;
    --link-visited-color: darkslategray;

    --spacing-050: calc(var(--spacing-100) / 2);
    --spacing-100: 0.5rem;
    --spacing-200: calc(var(--spacing-100) * 2);
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: white;
        --link-visited-color: lightgray;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: monospace;
    line-height: 1.6;
    font-size: 1.2rem;
    text-align: justify;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    max-width: 40rem;
    padding: var(--spacing-200);
}

h1 {
    text-align: center;
}

h1, h2, h3 {
    line-height: 1.2;
}

ul {
    list-style-type: "﹅";
}

li {
    padding-left: var(--spacing-100);
}

a {
    color: inherit;
    text-underline-offset: var(--spacing-050);
}

a:hover {
    text-decoration-thickness: var(--spacing-050);
}

a:visited {
    color: var(--link-visited-color);
}

blockquote p:first-of-type::before {
    content: "«";
}

blockquote p:last-of-type::after {
    content: "»";
}

blockquote + p {
    text-align: right;
}

footer {
    display: flex;
    justify-content: center;
}

footer nav {
    border-top: solid 1px var(--primary-color);
    font-size: 0.8rem;
    padding: var(--spacing-100);
}

.breadcrumbs {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.breadcrumbs li {
    padding: 0;
    white-space: nowrap;
}

.breadcrumbs li:not(:first-of-type)::before {
    content: "/";
    padding: 0 1ch;
}

.poem {
    text-align: center;
    white-space: pre-line;
}

blockquote .poem:first-of-type::before {
    content: "« ";
}

blockquote .poem:last-of-type::after {
    content: " »";
}
